@import "palette.css";

:root {
  --panel-background: var(--uc-base-color) !important;
  --panel-border-color: #ffffff !important;
  --panel-color: var(--uc-inverted-color) !important;
  --arrowpanel-background: var(--panel-background) !important;
  --arrowpanel-border-color: var(--panel-border-color) !important;
  --arrowpanel-color: var(--panel-color) !important;
  --arrowpanel-dimmed: var(--ctp-overlay0) !important;

  --urlbarView-highlight-background: var(--uc-highlight-color) !important;
  --urlbarView-highlight-color: var(--uc-base-color) !important;

  --button-hover-bgcolor: var(--uc-highlight-color) !important;
  --button-active-bgcolor: var(--button-hover-bgcolor) !important;
  --button-hover-color: var(--uc-base-color) !important;
  --button-bgcolor: var(--uc-base-color) !important;

  --panel-disabled-color: #595959;
  --panel-seperator-color: #ffffff;

  --lwt-frame: #ffffff !important;
  --lwt-accent-color: var(--lwt-frame) !important;
  --lwt-text-color: var(--uc-inverted-color) !important;

  --toolbar-field-color: var(--uc-inverted-color) !important;

  --toolbar-field-focus-color: #ffffff !important;
  --toolbar-field-focus-background-color: #212121 !important;
  --toolbar-field-focus-border-color: #ffffff !important;

  --toolbar-field-background-color: #000000 !important;
  --lwt-toolbar-field-highlight: var(--uc-inverted-color) !important;
  --lwt-toolbar-field-highlight-text: var(--uc-highlight-color) !important;
  --urlbar-popup-url-color: var(--uc-base-color) !important;

  --lwt-tab-text: var(--lwt-text-color) !important;

  --lwt-selected-tab-background-color: var(--uc-highlight-color) !important;

  --toolbar-bgcolor: var(--uc-base-color) !important;
  --toolbar-color: var(--lwt-text-color) !important;
  --toolbarseparator-color: var(--uc-accent-color) !important;
  --toolbarbutton-hover-background: var(--uc-highlight-color) !important;
  --toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: #212121 !important;
  --urlbar-box-text-color: var(--uc-muted-color) !important;
  --urlbar-box-hover-bgcolor: var(--uc-base-color) !important;
  --urlbar-box-hover-text-color: var(--uc-inverted-color) !important;
  --urlbar-box-focus-bgcolor: #212121 !important;

  --lwt-sidebar-background-color: var(--uc-base-color) !important;
  --lwt-sidebar-text-color: var(--uc-inverted-color) !important;
}

splitter {
  background-color: #ffffff !important;
  border: none !important;
  width: 1px !important;
}

menupopup {
  --panel-background: var(--uc-base-color) !important;
  --panel-border-color: #ffffff !important;
  --panel-color: var(--uc-inverted-color) !important;
}

menuitem {
  background-color: var(--uc-base-color) !important;
  color: var(--uc-inverted-color) !important;
  border-color: #ffffff !important;
}

menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:hover {
  background-color: var(--uc-highlight-color) !important;
  color: var(--uc-base-color) !important;
}

.identity-color-blue {
  --identity-tab-color: var(--uc-identity-color-blue) !important;
  --identity-icon-color: var(--uc-identity-color-blue) !important;
}
.identity-color-turquoise {
  --identity-tab-color: var(--uc-identity-color-turquoise) !important;
  --identity-icon-color: var(--uc-identity-color-turquoise) !important;
}
.identity-color-green {
  --identity-tab-color: var(--uc-identity-color-green) !important;
  --identity-icon-color: var(--uc-identity-color-green) !important;
}
.identity-color-yellow {
  --identity-tab-color: var(--uc-identity-color-yellow) !important;
  --identity-icon-color: var(--uc-identity-color-yellow) !important;
}
.identity-color-orange {
  --identity-tab-color: var(--uc-identity-color-orange) !important;
  --identity-icon-color: var(--uc-identity-color-orange) !important;
}
.identity-color-red {
  --identity-tab-color: var(--uc-identity-color-red) !important;
  --identity-icon-color: var(--uc-identity-color-red) !important;
}
.identity-color-pink {
  --identity-tab-color: var(--uc-identity-color-pink) !important;
  --identity-icon-color: var(--uc-identity-color-pink) !important;
}
.identity-color-purple {
  --identity-tab-color: var(--uc-identity-color-purple) !important;
  --identity-icon-color: var(--uc-identity-color-purple) !important;
}

