:root {
  /* Container Tabs (mainly) */
  --uc-identity-color-blue: #3636ff;
  --uc-identity-color-turquoise: #36ffff;
  --uc-identity-color-green: #36ff36;
  --uc-identity-color-yellow: #ffff36;
  --uc-identity-color-orange: #ff8636;
  --uc-identity-color-red: #ff3636;
  --uc-identity-color-pink: #ff36ff;
  --uc-identity-color-purple: #7d2ceb;

  /* Color Scheme */
  --uc-base-color: #000000;
  --uc-highlight-color: #ffffff;
  --uc-inverted-color: #ffffff;
  --uc-muted-color: #c0c0c0;
}

